# CSE111 Final Practice Assignment

### Task 1:

In [ ]:
class PlayerEarning:
    def __init__(self, name):
        self.name = name
        self.earned = 0
        self.bonus = 0
    def calculateTotal(self, earning, goals=0):
        self.earned = earning
        if goals != 0:
            if goals > 30:
                self.bonus = int(0.05 * self.earned + 10000)
            else:
                self.bonus = int(0.05 * self.earned)
    def printDetails(self):
        print("Player Name:", self.name)
        print("Player Season Earning without bonus:", self.earned)
        print("Bonus:", self.bonus)
        print("Player Season Earning After bonus:", self.bonus + self.earned)
        


print("**********************")
player1 = PlayerEarning('Buffon')
player1.calculateTotal(250000)
player1.printDetails()

print("\n**********************")
player2 = PlayerEarning('Dybala')
player2.calculateTotal(250000, 31)
player2.printDetails()

print("\n**********************")
player3 = PlayerEarning('Cuadrado')
player3.calculateTotal(250000, 20)
player3.printDetails()

**********************
Player Name: Buffon
Player Season Earning without bonus: 250000
Bonus: 0
Player Season Earning After bonus: 250000

**********************
Player Name: Dybala
Player Season Earning without bonus: 250000
Bonus: 22500
Player Season Earning After bonus: 272500

**********************
Player Name: Cuadrado
Player Season Earning without bonus: 250000
Bonus: 12500
Player Season Earning After bonus: 262500

### Task 2:

In [ ]:
class myList:
	def __init__(self, *data):
		if len(data) == 0:
			self.lst = [0]
		else:
			self.lst = list(data)
	def sum(self):
		print("Sum:", sum(self.lst))
	def merge(self, *ex_data):
		self.lst += list(ex_data)
	def average(self):
		print("Average:", sum(self.lst)/len(self.lst))


l1 = myList(2,3,4,5,6)
l1.sum()
l1.merge(4,5,9)
l1.sum()
l1.average()
print("-----------------------------")
l2 =  myList()
l2.average()
l2.merge(1,2,4,8)
l2.sum()

Sum: 20
Sum: 38
Average: 4.75
-----------------------------
Average: 0.0
Sum: 15

### Task 3:

In [ ]:
class Bird:
    def __init__(self, name, flight=False):
        self.name = name
        self.flight_ability = flight
        self.types = "Flightless Birds"
    def fly(self):
        if self.flight_ability is True:
            print(f"{self.name} can fly")
        else:
            print(f"{self.name} can not fly")
    def setType(self, typ):
        self.types = typ
    def printDetail(self):
        print("Name:", self.name)
        print("Type:", self.types)



ostrich = Bird('Ostrich')
duck = Bird("Duck", True)
owl = Bird('Owl', True)
print("###########################")
ostrich.fly()
duck.fly()
owl.fly()
duck.setType('Water Birds')
owl.setType('Birds of Prey')
print("=========================")
ostrich.printDetail()
print("=========================")
duck.printDetail()
print("=========================")
owl.printDetail()

###########################
Ostrich can not fly
Duck can fly
Owl can fly
=========================
Name: Ostrich
Type: Flightless Birds
=========================
Name: Duck
Type: Water Birds
=========================
Name: Owl
Type: Birds of Prey

### Task 4:

In [ ]:
class Account:
    count = 0
    def __init__(self, name, age, occp, amount):
        self.name = name
        self.age = age
        self.occupation = occp
        self.total_amount = amount
        Account.count += 1
    def addMoney(self, amount):
        self.total_amount += amount
    def withdrawMoney(self, amount):
        if self.total_amount - amount >= 0:
            self.total_amount -= amount
    def printDetails(self):
        print("Name:", self.name)
        print("Age:", self.age)
        print("Occupation:", self.occupation)
        print("Total Amount:", self.total_amount)

 
print('No of account holders:', Account.count)
print("=========================")
p1 = Account("Abdul", 45, "Service Holder", 500000)
p1.addMoney(300000)
p1.printDetails()
print("=========================")
p2 = Account("Rahim", 55, "Businessman", 700000)
p2.withdrawMoney(700000)
p2.printDetails()
print("=========================")
p3 = Account("Ashraf", 62, "Govt. Officer", 200000)
p3.withdrawMoney(250000)
p3.printDetails()
print("=========================")
print('No of account holders:', Account.count)

No of account holders: 0
=========================
Name: Abdul
Age: 45
Occupation: Service Holder
Total Amount: 800000
=========================
Name: Rahim
Age: 55
Occupation: Businessman
Total Amount: 0
=========================
Name: Ashraf
Age: 62
Occupation: Govt. Officer
Total Amount: 200000
=========================
No of account holders: 3

### Task 5:

In [ ]:
class Smartphone:
    def __init__(self, name=None):
        self.name = name
        self.features = dict()
    def setName(self, name):
        self.name = name
    def addFeature(self, name, specs):
        if self.name is None:
            print("Feature can not be added without phone name")
        else:
            if name not in self.features.keys():
                self.features[name] = [specs]
            else:
                self.features[name] += [specs]
    def printDetail(self):
        print("Phone Name:", self.name)
        for feature, specs in self.features.items():
            print(f"{feature}: {', '.join(specs)}")


# Do not change the following lines of code.
s1 = Smartphone()
print("=================================")
s1.addFeature("Display", "6.1 inch")
print("=================================")
s1.setName("Samsung Note 20")
s1.addFeature("Display", "6.1 inch")
s1.printDetail()
print("=================================")
s2 = Smartphone("Iphone 12 Pro")
s2.addFeature("Display", "6.2 inch")
s2.addFeature("Ram", "6 GB")
print("=================================")
s2.printDetail()
s2.addFeature("Display", "Amoled panel")
s2.addFeature("Ram", "DDR5")
print("=================================")
s2.printDetail()
print("=================================")

=================================
Feature can not be added without phone name
=================================
Phone Name: Samsung Note 20
Display: 6.1 inch
=================================
=================================
Phone Name: Iphone 12 Pro
Display: 6.2 inch
Ram: 6 GB
=================================
Phone Name: Iphone 12 Pro
Display: 6.2 inch, Amoled panel
Ram: 6 GB, DDR5
=================================

### Task 6:

In [ ]:
class Student:
    count = 0
    cse_count = 0
    bba_count = 0
    def __init__(self, name, dept):
        self.name = name
        self.department = dept
        Student.count += 1
        print("Creating Student Number:", Student.count)
        if dept == "CSE":
            Student.cse_count += 1
        else:
            Student.bba_count += 1
    def individualInfo(self):
        print(f"{self.name} is from {self.department} department.")
        print(f"Serial of {self.name} among all students' is: {Student.count}")
        print(f"Serial of Naruto in {self.department} department is:", end=" ")
        if self.department == "CSE":
            print(Student.cse_count)
        else:
            print(Student.cse_count)
    def totalInfo(self):
        print(f"Total Number of Student: {Student.count}")
        print(f"Total Number of CSE Student: {Student.cse_count}")
        print(f"Total Number of BBA Student: {Student.bba_count}")



s1 = Student("Naruto", "CSE")
print('----------------------')
s1.individualInfo()
print('#############################')
s1.totalInfo()
print('============================')

s2 = Student("Sakura", "BBA")
print('----------------------')
s2.individualInfo()
print('#############################')
s2.totalInfo()
print('============================')

s3 = Student("Shikamaru", "CSE")
print('----------------------')
s3.individualInfo()
print('#############################')
s3.totalInfo()
print('============================')

s4 = Student("Deidara", "BBA")
print('----------------------')
s4.individualInfo()
print('#############################')
s4.totalInfo()

Creating Student Number: 1
----------------------
Naruto is from CSE department.
Serial of Naruto among all students' is: 1
Serial of Naruto in CSE department is: 1
#############################
Total Number of Student: 1
Total Number of CSE Student: 1
Total Number of BBA Student: 0
============================
Creating Student Number: 2
----------------------
Sakura is from BBA department.
Serial of Sakura among all students' is: 2
Serial of Naruto in BBA department is: 1
#############################
Total Number of Student: 2
Total Number of CSE Student: 1
Total Number of BBA Student: 1
============================
Creating Student Number: 3
----------------------
Shikamaru is from CSE department.
Serial of Shikamaru among all students' is: 3
Serial of Naruto in CSE department is: 2
#############################
Total Number of Student: 3
Total Number of CSE Student: 2
Total Number of BBA Student: 1
============================
Creating Student Number: 4
----------------------
Deidara is from BBA department.
Serial of Deidara among all students' is: 4
Serial of Naruto in BBA department is: 2
#############################
Total Number of Student: 4
Total Number of CSE Student: 2
Total Number of BBA Student: 2

### Task 7

In [ ]:
class book:
    def __init__(self, name):
        self.name = name
        self.genre='biography'
    def review(self):
        print('This book is just out of the world,mind-blowing!')


class fiction(book):
    def __init__(self, name, genre):
        super().__init__(name)
        self.genre = genre
    def review(self):
        print(f"{self.name} which is a {self.genre} is just out of the world, mind-blowing!")


class nonfiction(book):
    def review(self):
        print(f"{self.name} which is a {self.genre} is just out of the world, mind-blowing!")


b1 = fiction('The Shining', 'Psychological horror')
b2 = nonfiction('A Beautiful Mind')
b1.review()
print('=========================')
b2.review()
print('=========================')

The Shining which is a Psychological horror is just out of the world, mind-blowing!
=========================
A Beautiful Mind which is a biography is just out of the world, mind-blowing!
=========================

### Task 8:

In [ ]:
class Processor:
    def __init__(self, model, thread, core):
        self.model = model
        self.core = core
        self.thread = thread
    def getInfo(self):
        return "Model:"+self.model+ "\nCores:"+str(self.core)+ "\nThreads:"+ str(self.thread) 


class Intel(Processor):
	def __init__(self, model, core, thread, price):
		super().__init__(model, thread, core)
		self.price = price
	def getInfo(self):
		print(super().getInfo()+"\nPrice: "+str(self.price)+" taka")


class AMD(Processor):
	def __init__(self, model, core, thread, price):
		super().__init__(model, thread, core)
		self.price = price
	def getInfo(self):
		print(super().getInfo()+"\nPrice: "+str(self.price)+" taka")


p1 = Intel("Intel i5 10th Gen",6,12,17000)
p2 = AMD("Ryzen 5 3500X",6,6,13800)
p3 = AMD("Ryzen 5 3600",6,12,16900)
print('======================')
p1.getInfo()
print('======================')
p2.getInfo()
print('======================')
p3.getInfo()

======================
Model:Intel i5 10th Gen
Cores:6
Threads:12
Price: 17000 taka
======================
Model:Ryzen 5 3500X
Cores:6
Threads:6
Price: 13800 taka
======================
Model:Ryzen 5 3600
Cores:6
Threads:12
Price: 16900 taka

### Task 9

In [ ]:
class Fruit:
    Total_order=0
    
    def __init__(self, Order_ID, weight):
        self.Order_ID = Order_ID
        self.weight = weight
        Fruit.Total_order = Fruit.Total_order + 1
    
    def __str__(self):
        return self.Order_ID+", Weight: "+str(self.weight)


class Mango(Fruit):
    def __init__(self, Order_ID, weight, variety, p_per_wght):
        super().__init__(Order_ID, weight)
        self.variety = variety
        self.price_per_unit_weight = p_per_wght
        self.total_price = self.weight * self.price_per_unit_weight
    def __str__(self):
        return super().__str__()+", Variety: "+self.variety+", Total Price: "+str(self.total_price)
    def __add__(self, refn):
        total_price = self.total_price + refn.total_price
        return "The total Price of the orders are: "+str(total_price)


class JackFruit(Fruit):
    def __init__(self, Order_ID, weight, p_per_wght):
        super().__init__(Order_ID, weight)
        self.price_per_unit_weight = p_per_wght
        self.total_price = self.weight * self.price_per_unit_weight
    def __str__(self):
        return super().__str__()+", Total Price: "+str(self.total_price)
    def __add__(self, refn):
        total_price = self.total_price + refn.total_price
        return "The total Price of the orders are: "+str(total_price)


m1=Mango("Order Id 1", 5,"GopalVog",250)
print(m1)
m2=Mango("Order Id 2", 5,"HariVanga", 230)
print(m2) 
j1=JackFruit("Order Id 3", 5,250)
print(j1)
j2=JackFruit("Order Id 4", 4,210)
print(j2)
print("Total number of Orders: "+str(Fruit.Total_order))
print("==================")
print(m1+m2)
print("==================")
print(j1+j2)

Order Id 1, Weight: 5, Variety: GopalVog, Total Price: 1250
Order Id 2, Weight: 5, Variety: HariVanga, Total Price: 1150
Order Id 3, Weight: 5, Total Price: 1250
Order Id 4, Weight: 4, Total Price: 840
Total number of Orders: 4
==================
The total Price of the orders are: 2400
==================
The total Price of the orders are: 2090

### Task 10

In [ ]:
class Student:
    def __init__(self,name,ID):
        self.name = name
        self.ID = ID
    def Details(self):
        return "Name: "+self.name+"\n"+"ID: "+self.ID+"\n"


class CSEStudent(Student):
    def __init__(self, name, ID, sem):
        super().__init__(name, ID)
        self.semester = sem
        self.course_and_grade = list()
        self.gpa = 0.0
    def Details(self):
        return super().Details()+"Current Semester: "+self.semester
    def addCourseWithMarks(self, *c_and_m):
        total = 0
        for i in range(0, len(c_and_m), 2):
            grade = 0
            if c_and_m[i+1] >= 85: grade = 4.0
            elif 80 <= c_and_m[i+1] <=84: grade = 3.3
            elif 70 <= c_and_m[i+1] <=79: grade = 3.0
            elif 65 <= c_and_m[i+1] <=69: grade = 2.3
            elif 57 <= c_and_m[i+1] <=64: grade = 2.0
            elif 55 <= c_and_m[i+1] <=56: grade = 1.3
            elif 50 <= c_and_m[i+1] <=54: grade = 1.0
            elif c_and_m[i+1] < 50: grade = 0.0
            self.course_and_grade += [c_and_m[i], grade]
            total += grade
        self.gpa = round(total/(len(self.course_and_grade)//2), 2)
    def showGPA(self):
        print(f"{self.name} has taken {len(self.course_and_grade)//2} courses.")
        for i in range(0, len(self.course_and_grade), 2):
            print(f"{self.course_and_grade[i]}: {self.course_and_grade[i+1]}")
        print(f"GPA of {self.name} is: {self.gpa}")


Bob = CSEStudent("Bob","20301018","Fall 2020")
Carol = CSEStudent("Carol","16301814","Fall 2020")
Anny = CSEStudent("Anny","18201234","Fall 2020")
print("#########################")
print(Bob.Details())
print("#########################")
print(Carol.Details())
print("#########################")
print(Anny.Details())
print("#########################")
Bob.addCourseWithMarks("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
Carol.addCourseWithMarks("CSE470",62.5,"CSE422",69.0,"CSE460",76.5,"CSE461",87.0)
Anny.addCourseWithMarks("CSE340",45.5,"CSE321",95.0,"CSE370",91.0)
print("----------------------------")
Bob.showGPA()
print("----------------------------")
Carol.showGPA()
print("----------------------------")
Anny.showGPA()

#########################
Name: Bob
ID: 20301018
Current Semester: Fall 2020
#########################
Name: Carol
ID: 16301814
Current Semester: Fall 2020
#########################
Name: Anny
ID: 18201234
Current Semester: Fall 2020
#########################
----------------------------
Bob has taken 3 courses.
CSE111: 3.3
CSE230: 3.0
CSE260: 4.0
GPA of Bob is: 3.43
----------------------------
Carol has taken 4 courses.
CSE470: 2.0
CSE422: 2.3
CSE460: 3.0
CSE461: 4.0
GPA of Carol is: 2.83
----------------------------
Anny has taken 3 courses.
CSE340: 0.0
CSE321: 4.0
CSE370: 4.0
GPA of Anny is: 2.67

### Task 11:

In [ ]:
class Transport:
    total_traveller = 0
    def __init__(self, name, fare):
        self.name = name
        self.baseFare = fare
    def __str__(self):
        s =  "Name: "+self.name+", Base fare: "+str(self.baseFare)
        return s


class Bus(Transport):
    def __init__(self, name, fare):
        super().__init__(name, fare)
        self.passenger_and_fare = list()
        print(f"Base-fare of {self.name} is {self.baseFare} Taka ")
    def addPassengerWithBags(self, *p_b):
        total = 0
        for i in range(0, len(p_b), 2):
            fare = 0
            if p_b[i+1] > 5:
                fare = self.baseFare + 105
            elif 3 <= p_b[i+1] <= 5:
                fare = self.baseFare + 60
            else:
                fare = self.baseFare
            Transport.total_traveller += 1
            self.passenger_and_fare += [p_b[i], fare]
    def __str__(self):
        s = super().__str__()+"\nTotal Passenger(s): "+str(len(self.passenger_and_fare)//2)+"\nPassenger details:"
        for i in range(0, len(self.passenger_and_fare), 2):
            s += f"\nName: {self.passenger_and_fare[i]}, Fare: {self.passenger_and_fare[i+1]}"
        return s


class Train(Transport):
    def __init__(self, name, fare):
        super().__init__(name, fare)
        self.passenger_and_fare = list()
        print(f"Base-fare of {self.name} is {self.baseFare} Taka ")
    def addPassengerWithBags(self, *p_b):
        total = 0
        for i in range(0, len(p_b), 2):
            fare = 0
            if p_b[i+1] > 5:
                fare = self.baseFare + 105
            elif 3 <= p_b[i+1] <= 5:
                fare = self.baseFare + 60
            else:
                fare = self.baseFare
            Transport.total_traveller += 1
            self.passenger_and_fare += [p_b[i], fare]
    def __str__(self):
        s = super().__str__()+"\nTotal Passenger(s): "+str(len(self.passenger_and_fare)//2)+"\nPassenger details:"
        for i in range(0, len(self.passenger_and_fare), 2):
            s += f"\nName: {self.passenger_and_fare[i]}, Fare: {self.passenger_and_fare[i+1]}"
        return s


# Do not change the following lines of code.
t1 = Bus("Volvo", 950)
print("=================================")
t1.addPassengerWithBags("David", 6,  "Mike", 1, "Carol", 3)
print("=================================")
print(t1)
print("=================================")
t2 = Train("Silk City", 850)
print("=================================")
t2.addPassengerWithBags("Bob", 2, "Simon", 4)
print("=================================")
print(t2)
print("=================================")
print("Total Passengers in Transport: ", Transport.total_traveller)

Base-fare of Volvo is 950 Taka
=================================
=================================
Name: Volvo, Base fare: 950
Total Passenger(s): 3
Passenger details:
Name: David, Fare: 1055
Name: Mike, Fare: 950
Name: Carol, Fare: 1010
=================================
Base-fare of Silk City is 850 Taka
=================================
=================================
Name: Silk City, Base fare: 850
Total Passenger(s): 2
Passenger details:
Name: Bob, Fare: 850
Name: Simon, Fare: 910
=================================
Total Passengers in Transport:  5

### Task 13:

In [2]:
class University:
	name = "ABC University"
	numberOfStudents = 0
	admissionFee = 28000
	Library = 2000
	def __init__(self, n, i):
		self.stName = n
		self.stId = i

	def payment(self):
		return self.admissionFee + self.Library
	
	def __str__(self):
		return "Student Name: {}, ID: {}\nFee: {}".format(self.stName, self.stId, self.payment())


class CSE_dept(University):
	SemesterFee = 7700
	PerCreditFee = 6600
	LabFee = 2750
	def __init__(self, n, i, cr=6):
		super().__init__(n, i)
		self.credit = cr
		University.numberOfStudents += 1
	def payment(self):
		return super().payment() + self.SemesterFee + (self.PerCreditFee * self.credit) + self.LabFee
	def payment_details(self):
		print("\nDETAILS:")
		print("Admission Fee:", self.admissionFee)
		print("Library Fee:", self.Library)
		print("Semester Fee:", self.SemesterFee)
		print("Per Credit Fee:", self.PerCreditFee)
		print("Number of credits:", self.credit)
		print("Lab Free:", self.LabFee)
	def __add__(self, refn):
		return self.payment() + refn.payment()


class PHR_dept(University):
	SemesterFee = 11000
	PerCreditFee = 6600
	def __init__(self, n, i, cr=9):
		super().__init__(n, i)
		self.credit = cr
		University.numberOfStudents += 1
	def payment(self):
		return super().payment() + self.SemesterFee + (self.PerCreditFee * self.credit)
	def payment_details(self):
		print("\nDETAILS:")
		print("Admission Fee:", self.admissionFee)
		print("Library Fee:", self.Library)
		print("Semester Fee:", self.SemesterFee)
		print("Per Credit Fee:", self.PerCreditFee)
		print("Number of credits:", self.credit)
	def __add__(self, refn):
		return self.payment() + refn.payment()


# Do not change the following lines of code.
c1 = CSE_dept("Mary","5678")  
print(c1)
c1.payment_details()
print("===========================")
p1 = PHR_dept("Simon","91011")  
print(p1)
p1.payment_details()
print("===========================")
c2 = CSE_dept("Adam","1234", 12)  
print(c2)
c2.payment_details()
print("===========================")
p2 = PHR_dept("David","121314", 15)  
print(p2)
p2.payment_details()
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))
print("===========================")
print("Due to the pandemic, admission and library fees have been reduced for all departments. ")
University.admissionFee -= 1000
University.Library -= 100
print("The credit, semester and lab fees have been reduced for the CSE department. ")
CSE_dept.PerCreditFee -= 100
CSE_dept.SemesterFee -= 100
CSE_dept.LabFee -=100
print("The credit and semester fees have been reduced for the PHR department.\n ")
PHR_dept.PerCreditFee -= 100
PHR_dept.SemesterFee -= 1000
print(c1)
print(p1)
print(c2)
print(p2)
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))

Student Name: Mary, ID: 5678
Fee: 80050

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 6
Lab Free: 2750
===========================
Student Name: Simon, ID: 91011
Fee: 100400

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee: 6600
Number of credits: 9
===========================
Student Name: Adam, ID: 1234
Fee: 119650

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 12
Lab Free: 2750
===========================
Student Name: David, ID: 121314
Fee: 140000

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee: 6600
Number of credits: 15
===========================
Total Number of Students: 4
Total University Revenue: 440100
===========================
Due to the pandemic, admission and library fees have been reduced for all departments.
The credit, semester and lab fees have been reduced for the CSE department.
The credit and semester fees have been reduced for the PHR department.

Student Name: Mary, ID: 5678
Fee: 78150
Student Name: Simon, ID: 91011
Fee: 97400
Student Name: Adam, ID: 1234
Fee: 117150
Student Name: David, ID: 121314
Fee: 136400
===========================
Total Number of Students: 4
Total University Revenue: 429100

### Task 15:

In [3]:
class Player:
	database={}
	playerNo = 0
	def __init__(self,name,team,jerseyNo):
		self.name = name
		self.team = team
		self.jerseyNo = jerseyNo
	def __str__(self):
		return "Name:{}\nTeam:{}\nJersey No:{}".format(self.name,self.team,self.jerseyNo)


class FootballPlayer(Player):
	def __init__(self, name, team, jerseyNo, goals, rtr_date="Not yet retired"):
		super().__init__(name, team, jerseyNo)
		Player.playerNo += 1
		self.playerID = str(Player.playerNo)+self.name.split()[0][0]+self.name.split()[1][0]+str(self.jerseyNo)
		self.goals = goals
		self.retiremnet = rtr_date
		Player.database[self.playerID] = [self.name, self.team, self.jerseyNo, self.goals, self.retiremnet]
	@classmethod
	def createPlayer(cls, name, team, jerseyNo, goals, rtr_date):
		return cls(name, team, jerseyNo, goals, rtr_date)
	def __str__(self):
		return "Player ID:"+self.playerID+"\n"+super().__str__()+"\nGoals Scored:"+str(self.goals)+"\nRetirement date:"+self.retiremnet



print("Number of players:",Player.playerNo)
print("Player Database:",Player.database)
print("#################################")
p1 = FootballPlayer("Lionel Messi","Barcelona",10,231)
print("------Details of the player------")
print(p1)
print("#################################")
p2 = FootballPlayer("Cristiano Ronaldo","Juventus",7,215)
print("------Details of the player------")
print(p2)
print("#################################")
p3 = FootballPlayer.createPlayer("Miroslav Klose","Lazio",11, 71,"11 Aug,2014")
print("------Details of the player------")
print(p3)
print("#################################")
print("Number of players:",Player.playerNo)
print("Player Database:",Player.database)

Number of players: 0
Player Database: {}
#################################
------Details of the player------
Player ID:1LM10
Name:Lionel Messi
Team:Barcelona
Jersey No:10
Goals Scored:231
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID:2CR7
Name:Cristiano Ronaldo
Team:Juventus
Jersey No:7
Goals Scored:215
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID:3MK11
Name:Miroslav Klose
Team:Lazio
Jersey No:11
Goals Scored:71
Retirement date:11 Aug,2014
#################################
Number of players: 3
Player Database: {'1LM10': ['Lionel Messi', 'Barcelona', 10, 231, 'Not yet retired'], '2CR7': ['Cristiano Ronaldo', 'Juventus', 7, 215, 'Not yet retired'], '3MK11': ['Miroslav Klose', 'Lazio', 11, 71, '11 Aug,2014']}