### Task 1

In [1]:
class Marks:
	def __init__(self, mark):
		self.mark = mark
	
	def __add__(self, refn):
		new_object = Marks(self.mark + refn.mark)
		return new_object

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Total marks: 100

### Task 2

In [3]:
class Teacher:
	def __init__(self, name, dept):
		self.name = name
		self.department = dept
		self.course_list = list()
	def addCourse(self, crs):
		self.course_list.append(crs.course_name)
	def printDetail(self):
		print("====================================")
		print(f"Name:  {self.name}")
		print(f"Department:  {self.department}")
		print("List of courses")
		print("====================================")
		for crs in self.course_list:
			print(crs)
		print("====================================")

		
class Course:
	def __init__(self, crs_name):
		self.course_name = crs_name

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")                          
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms") 
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name:  Saad Abdullah
Department:  CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name:  Mumit Khan
Department:  CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name:  Sadia Kazi
Department:  CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

### Task 3

In [6]:
class Team:
    def __init__(self, name=None):
        self.name = name
        self.player_list = list()
    def setName(self, name):
        self.name = name
    def addPlayer(self, refn):
        self.player_list.append(refn.name)
    def printDetail(self):
        print("=====================")
        print("Team:", self.name)
        print("List of Players:")
        print(self.player_list)
        print("=====================")

class Player:
    def __init__(self, name):
        self.name = name


b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

### Task 4

In [13]:
class Color:
	def __init__(self, clr):
		self.clr = clr
	def __add__(self, other):
		if self.clr == "red" or other.clr == "red":
			if self.clr == "red":
				if other.clr == "yellow":
					return Color("Orange")
				elif other.clr == "blue":
					return Color("Violet")
			else:
				if self.clr == "yellow":
					return Color("Orange")
				elif self.clr == "blue":
					return Color("Violet")
		elif self.clr == "yellow" or other.clr == "yellow":
			if self.clr == "yellow":
				if other.clr == "red":
					return Color("Orange")
				elif other.clr == "blue":
					return Color("Green")
			else:
				if self.clr == "red":
					return Color("Orange")
				elif self.clr == "blue":
					return Color("Green")


C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

Color formed: Green

### Task 5

In [3]:
import math

class Circle:
	def __init__(self, rad):
		self.__radius = rad
	def setRadius(self, rad):
		self.__radius = rad
	def getRadius(self):
		return self.__radius
	def area(self):
		return math.pi*(self.__radius**2)
	def __add__(self, other):
		return Circle(self.__radius + other.__radius)


c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())

c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())

c3 = c1 + c2 
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

### Task 6

In [9]:
class Triangle:
	def __init__(self, b, h):
		self.__base = b
		self.__height = h
	def setBase(self, b):
		self.__base = b
	def getBase(self):
		return self.__base
	def setHeight(self, h):
		self.__height = h
	def getHeight(self):
		return self.__height
	def area(self):
		return 0.5 * self.__base * self.__height
	def __sub__(self, other):
		b = self.__base - other.__base
		h = self.__height - other.__height
		return Triangle(b, h)


t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())

t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())

t3 = t1 - t2 
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

### Task 7

In [17]:
class Dolls:
	def __init__(self, name, price):
		if type(name) == str:
			self.name_list = [name]
		else:
			self.name_list = name
		self.price = price
	def detail(self):
		if len(self.name_list) == 1:
			return f"Doll: {self.name_list[0]}\nTotal Price: {self.price}"
		else:
			return f"Dolls: {' '.join(self.name_list)}\nTotal Price: {self.price}"
	def __gt__(self, other):
		return self.price > other.price
	def __add__(self, other):
		added_names = self.name_list + other.name_list
		added_price = self.price + other.price
		return Dolls(added_names, added_price)


obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_2 = Dolls("Daffy Duck", 1800) 
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll: Tweety
Total Price: 2500
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500
Thank you!
=========================
Dolls: Daffy Duck Bugs Bunny
Total Price: 4800
Congratulations! You get the Tweety as a gift!

### Task 8

In [23]:
class Coordinates:
	def __init__(self, crd1, crd2):
		self.crd1 = crd1
		self.crd2 = crd2
	def __sub__(self, other):
		crd1 = self.crd1 - other.crd1
		crd2 = self.crd2 - other.crd2
		return Coordinates(crd1, crd2)
	def __mul__(self, other):
		crd1 = self.crd1 * other.crd1
		crd2 = self.crd2 * other.crd2
		return Coordinates(crd1, crd2)
	def __eq__(self, other):
		if self.crd1 == other.crd2 and self.crd2 == other.crd2:
			return "The calculated coordinates are the same."
		return "The calculated coordinates are NOT the same."
	def detail(self):
		return f"({self.crd1},{self.crd2})"


p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))

p4 = p1 - p2 
print(p4.detail())

p5 = p1 * p2
print(p5.detail())

point_check = (p4 == p5)
print(point_check)

(0,0)
(0,0)
The calculated coordinates are the same.